$color-primary: #E8C3E8;
$color-primary-light: #B74CB7;
$color-primary-medium: #990799;
$color-primary-dark: #840684;
$color-primary-heavy: #6A046A;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-my-text-1: #717071;
$color-my-text-2: #979797;

$color-white: #fff;
$color-black: #000;

$color-color-blue: #1875F0;
$color-color-blue-dark: #0B53B1;
$color-color-outline: #cecece;


// FONT
$default-font-size: 1.6em;
